{% load staticfiles %}
{% load sass_tags %}
<!doctype html>
<html>
<head>
    <title>TableFetch Kitchen{% block title %}{% endblock %}</title>

    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
    <link href="{% sass_src 'common.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="dashboard-menu-container">
        <ul class="dashboard-menu-items">
            <li>Map</li>
            <li>Orders</li>
            <li>Food</li>
        </ul>
        <ul class="dashboard-admin-menu">
            <li>Settings</li>
        </ul>
    </div>
    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
