{% extends "kitchen/dashboard_base.html" %}

{% load static %}

{% block content %}

<div class="table-map-controls">
    <button type="button" class="new-table-btn btn btn-primary">New Table</button>
</div>

<div class="table-map-div-wrapper">
<svg class="table-map-container" style="width: 100%;" viewBox="0 0 1000 600">

    <g class="table-group" style="fill: white; stroke: black; stroke-width: 3;" >
        {% for table in tables %}
            <rect id="table-{{table.id}}" x="{{table.x_coord}}" y="{{table.y_coord}}" width="{{table.width}}" height="{{table.height}}" data-id="{{table.id}}" data-slug="{{table.name}}" transform="matrix(1 0 0 1 0 0)" />
        {% endfor %}
    </g>

    <g class="table-label-group" style="font-size: 37;">
    </g>
</svg>
</div>

<div class="modal fade" id="new-table-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="slug-field">Slug</label>
                        <input type="text" name="name" class="form-control" id="slug-field" placeholder="Name your table." pattern="[\w-]+" required max="10" />
                        <small id="slug-field-label" class="form-text text-muted">Must consist of letters, numbers, hyphens, and underscores.</small>
                    </div>
                    <div class="form-group">
                        <label for="num-seats-field">Seat Count</label>
                        <input type="number" name="num_seats" class="form-control" id="num-seats-field" placeholder="How many seats at this table?" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="table-save-btn btn btn-primary" data-dismiss="modal">Save</button>
                <button class="table-cancel-btn btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block templates %}

        <text class="table-label-1" data-id="1" x="30" y="50">1</text>
        <text class="table-label-2" data-id="2" x="137" y="50">2</text>
        <text class="table-label-3" data-id="3" x="246" y="50">3</text>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/TableMapManager.js' %}"></script>

<script>

const apiTablesUrl = "{% url "table-list" %}";

const mapManager = new TableMapManager(".table-map-container", apiTablesUrl);

$(function() {
    jqueryAjaxSetup();

    mapManager.initListeners();
    mapManager.collectInitialTables();
});

</script>

{% endblock %}
