{% extends "kitchen/dashboard_base.html" %}

{% block content %}

<div class="menu-controls">
    <div class="btn-group" role="group">
        <button id="menu-create-drop" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
        </button>
        <div class="dropdown-menu" aria-labelledby="menu-create-drop">
            <a class="dropdown-item" href="{% url 'menu_category_create' %}">Category</a>
            <a class="dropdown-item" href="{% url 'menu_create' %}">Item</a>
        </div>
    </div>
</div>

<br />

<div id="menu-items">
    <div class="row">
        {% for item in items  %}
            <div class="col-md-3 col-sm-4 menu-item-container">
                {% if item.type == "category" %}
                    <a href="{% url "menu" item.obj.id %}">
                {% else %}
                    <a href="">
                {% endif %}

                <div class="card {% if item.type == "category" %}menu-category-card card-inverse{%else%}menu-item-card{%endif%}">
                    <div class="card-block">
                        <h4 class="card-title">{{ item.obj.name }}</h4>
                    </div>
                </div>

                {% if item.type == "category" %}
                    </a>
                {% endif %}
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    {% if not menu_items and not category_items %}
        <div class="alert alert-info">
            <strong>Nothing here yet!</strong> Create some menu categories and items so that your customers have food to order.
        </div>
    {% endif %}
</div>

{% endblock %}
