{% extends "kitchen/dashboard_base.html" %}

{% load compile_static %}
{% load static %}

{% load crispy_forms_tags %}

{% block cssincludes %}
<link href="{% static 'menu.scss'|compile %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% if category %}
    <h3>Editing Category: {{ category.name }}</h3>
{% else %}
    <h3>New Menu Category</h3>
{% endif %}

<br />

{% if success %}
    <div class="alert alert-success" role="alert">
        <strong>Awesome!</strong> Your new category was created.
    </div>
{% endif %}

{% csrf_token %}

{% crispy form %}

{% endblock %}
