{% extends "kitchen/dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block cssincludes %}
<link href="{% static 'menu.scss'|compile %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% if item %}
    <h3>Editing Ingredient: {{ ingredient.name }}</h3>
{% else %}
    <h3>New Menu Ingredient</h3>
{% endif %}

<br />

{% if success %}
    <div class="alert alert-success" role="alert">
        <strong>Awesome!</strong> Your new ingredient was created.
    </div>
{% endif %}

{% csrf_token %}

{% crispy form %}

{% endblock %}
