{% extends "kitchen/dashboard_base.html" %}

{% block content %}

<div class="menu-controls">
    <div class="btn-group" role="group">
        <button id="menu-create-drop" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
        </button>
        <div class="dropdown-menu" aria-labelledby="menu-create-drop">
            <a class="dropdown-item" href="{% url 'menu_category_create' %}">Category</a>
            <a class="dropdown-item" href="{% url 'menu_create' %}">Item</a>
        </div>
    </div>
</div>

<br />

<div id="menu-items">
    {% for item in category_items %}
        {% if forloop.counter0|divisibleby:3 or forloop.last %}
            {% if not forloop.first %}
                </div>
            {% endif %}
        {% endif %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{ item.name }}</h4>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for item in menu_items %}
        <div class="row">
            {% if forloop.counter0|divisibleby:3 or forloop.last %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
            {% endif %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row">
            {% endif %}

            
        </div>
    {% endfor %}

    {% if not menu_items and not category_items %}
        <div class="alert alert-info">
            <strong>Nothing here yet!</strong> Create some menu categories and items so that your customers have food to order.
        </div>
    {% endif %}
</div>

{% endblock %}
