{% extends "kitchen/dashboard_base.html" %}

{% load static %}

{% block content %}

<h3>New Order</h3>

<form id="create-order-form" class="card" method="post">
    <div class="form-group">
        <label>Party</label>
        <select name="party" class="form-control">
            <option value="0">New Party</option>
        </select>
    </div>

    <div class="form-group">
        <label>Party Member</label>
        <div class="party-member-container">
            <span id="party-member-list" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="party_member" autocomplete="off" /> <span class="party-member-label">1</span>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="party_member" autocomplete="off" /> <span class="party-member-label">2</span>
                </label>
            </span>
            <a id="add-party-member" class="btn btn-outline-success" aria-label="Add new member">+</a>
        </div>
    </div>

    <div class="form-group">
        <label>Choose items</label>
        <div class="order-select-items">
            <ol class="order-select-breadcrumbs btn-group">
            </ol>
            <ul class="menu-select-list">
            </ul>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
    </div>
</form>


{% endblock %}

{% block templates %}

<ul class="tpl-menu-select-category">
    <li class="menu-select-category" data-category=""></li>
</ul>

<ul class="tpl-menu-select-item">
    <li class="menu-select-item" data-item=""></li>
</ul>

<ul class="tpl-order-select-breadcrumb">
    <li class="btn btn-secondary"><a></a></li>
</ul>

{% endblock %}

{% block scripts %}

<script>

var apiCategoriesUrl = "{% url "menucategory-list" %}";
var apiItemsUrl = "{% url "menuitem-list" %}";

var current_party_index = 2;


var menuWidget = new MenuSelectWidgetManager(
        apiCategoriesUrl, apiItemsUrl);

function addPartyMember() {
    var elem = $(".party-member-container label").first().clone();
    elem.children(".party-member-label").replaceWith(++current_party_index);

    $("#party-member-list").append(" ");
    elem.appendTo("#party-member-list");
}

$(function() {
    jqueryAjaxSetup();

    $("#add-party-member").click(addPartyMember);

    menuWidget.initListeners();

    // Initially load menu inside of all menu-select-list elements.
    menuWidget.getCategoryList(0, $(".menu-select-list"), menuWidget.loadMenu);
    menuWidget.pushCategoryBreadcrumb($(".order-select-breadcrumbs"), 0, "Menu");
});

</script>

{% endblock %}

