{% extends "kitchen/dashboard_base.html" %}

{% block content %}

<div class="card-columns orders-list">
    <div class="card order" id="order-499394">
        <div class="card-block order-body">
            <h4 class="card-title">499394</h4>
            <div class="card-text">
                <ul class="order-item-list">
                    <li>Blueberry Pancakes
                        <ul class="order-additions">
                            <li><span class="order-action-verb">ADD</span> powdered sugar</li>
                            <li><span class="order-action-verb">ADD</span> lemon syrup</li>
                        </ul>
                        <ul class="order-removals">
                            <li><span class="order-action-verb">REMOVE</span> honey syrup</li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
