{% extends "kitchen/dashboard_base.html" %}

{% block content %}

<div class="orders-list">
    <div class="order" id="order-499394">
        <div class="order-header">
            <span class="order-header-id">499394</span>
            <span class="order-header-menu-toggle"></span>
            <ul class="order-header-menu">

            </ul>
        </div>
        <div class="order-body">
            <ul class="order-item-list">
                <li>Blueberry Pancakes
                    <ul class="order-additions">
                        <li><span class="order-action-verb">ADD</span> powdered sugar</li>
                        <li><span class="order-action-verb">ADD</span> lemon syrup</li>
                    </ul>
                    <ul class="order-removals">
                        <li><span class="order-action-verb">REMOVE</span> honey syrup</li>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
