{% extends "kitchen/dashboard_base.html" %}

{% block content %}

<div class="card-columns orders-list">
    <div class="card order" id="order-499394">
        <div class="card-block order-body">
            <h5 class="card-title">499394</h5>
            <div class="card-text">
                <ul class="order-item-list">
                    <li>Blueberry Pancakes
                        <ul class="order-additions">
                            <li><span class="order-action-verb">ADD</span> powdered sugar</li>
                            <li><span class="order-action-verb">ADD</span> lemon syrup</li>
                        </ul>
                        <ul class="order-removals">
                            <li><span class="order-action-verb">REMOVE</span> honey syrup</li>
                        </ul>
                    </li>
                </ul>

                <div class="order-controls">
                    <button type="button" class="btn btn-primary btn-sm">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
