@import "variables";

body {
    background-color: $body-bg;
}

button {
    cursor: pointer;
}

.sidebar {
    background-color: $sidebar-bg;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    padding-left: 0;
    padding-right: 0;

    .nav-link {
        border-radius: 0;
        color: #FFF;

        transition: background-color $hover-trans-time, color $hover-trans-time;
    }

    .nav-link:hover {
        cursor: pointer;
    }

    .nav-link:not(.active):hover {
        color: #CCC;
        background-color: $sidebar-bg-link-hover;
    }
}


