$body-bg: #000000;
$sidebar-bg: #333;

.sidebar {
    background-color: $sidebar-bg;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    padding-left: 0;
    padding-right: 0;

    .nav-link {
        border-radius: 0;
    }
}

.order-controls {
    button {
        cursor: pointer;
    }
}

#menu-items {
    .row:not(:first-child) {
        margin-top: 30px;
    }
}

