$body-bg: #000000;
$sidebar-bg: #333;
$sidebar-bg-link-hover: #444;
$hover-trans-time: 200ms;

$dark-bg-color: #333;

.sidebar {
    background-color: $sidebar-bg;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    padding-left: 0;
    padding-right: 0;

    .nav-link {
        border-radius: 0;
        color: #FFF;

        transition: background-color $hover-trans-time, color $hover-trans-time;
    }

    .nav-link:hover {
        cursor: pointer;
    }

    .nav-link:not(.active):hover {
        color: #CCC;
        background-color: $sidebar-bg-link-hover;
    }
}

.order-controls {
    button {
        cursor: pointer;
    }
}

#menu-items {
    .menu-item-container {
        padding: 10px;

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            text-decoration: none;
        }

        .menu-category-card, .menu-item-card {
            transition: background-color $hover-trans-time, border-color $hover-trans-time;
        }

        .menu-category-card {
            background-color: $dark-bg-color;
            border-color: $dark-bg-color;
        }

        .menu-category-card:hover {
            background-color: darken($dark-bg-color, 20%);
            border-color: darken($dark-bg-color, 20%);
        }
    }
}

