@import "variables";

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;

    background: #292b2c;
    background-size: 100% 100%;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.error-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .alert-danger {
        border-radius: 0;
    }
}


.login-container {
    h3 {
        color: rgba(255,255,255,.74);
        margin-bottom: .5em;
        border-bottom: thin solid rgba(255,255,255,.4);
        padding-bottom: .35em;
        font-size: 1.25rem;
    }

    .login-box {
        background-color: rgba(13, 21, 43, 0.63);
        padding: 2rem;
        box-shadow: 2px 4px 15px 1px rgba(0,0,0,0.22);
    }

    input, button {
        font-size: 1.4rem;
        padding: 1rem;
        background: none;
        color: rgba(255,255,255,.9);
        border: thin solid rgba(255,255,255,.4);
    }

    input::placeholder {
        color: rgba(255,255,255,.5);
    }

    button {
        font-size: 1.2rem;
        color: rgba(255,255,255,.5);
        border-radius: 0;
    }

    .form-group:last-child {
        margin-bottom: 0;
    }
}
