@import "variables";

html {
    height: 100%;
}

body {
    background-color: #4717F6;
    height: 100%;
    width: 100%;
    background: rgba(71,23,246,1);

    background: linear-gradient(146deg, #3915bf, #ffffff);
    background-size: 400% 400%;

    animation: LoginBgFade 20s linear infinite;

    @keyframes LoginBgFade {
        0%{background-position:17% 0%; background-size: 400% 400%;}
        50%{background-position:84% 100%; background-size: 400% 400%;}
        100%{background-position:17% 0%;  background-size: 400% 400%;}
    }
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.error-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .alert-danger {
        border-radius: 0;
    }
}


.login-container {
    h3 {
        color: rgba(255,255,255,.74);
        margin-bottom: .5em;
        border-bottom: thin solid rgba(255,255,255,.4);
        padding-bottom: .35em;
    }

    .login-box {
        background-color: rgba(0, 0, 0, 0.63);
        padding: 2rem;
        box-shadow: 2px 4px 15px 1px rgba(0,0,0,0.22);
    }

    input, button {
        font-size: 1.4rem;
        padding: 1rem;
        background: none;
        color: rgba(255,255,255,.9);
        border: thin solid rgba(255,255,255,.4);
    }

    input::placeholder {
        color: rgba(255,255,255,.5);
    }

    button {
        font-size: 1.2rem;
        color: rgba(255,255,255,.5);
        border-radius: 0;
    }

    .form-group:last-child {
        margin-bottom: 0;
    }
}
